<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Editar | Produto</title>
</head>
<body class="pag2">
    
    <header>
        <div class="but2">
            <a class="botton3" href="/listar">VOLTAR</a>
        </div>
    </header>

    <form th:action="@{/produtos/listarEditarProduto/{id}(id=${produto.id})}" th:object="${produto}" method="post"  class="Cds" th:if="${produto != null}">

        <div id="b" class="formulario4">
            <br><h1 class="title3">EDITAR PRODUTOS</h1>
        <div>
            <label>Nome do produto*:</label>
            <input type="text" name="nome" id="nome" placeholder="Bolo" th:field="*{nomeDoProduto}">
        </div>

        <div>
            <label>Marca*:</label>
            <input type="text" name="marca" id="marca" placeholder="Nestle" th:field="*{marca}">
        </div>

        <div>
            <label>Altura*:</label>
            <input type="text" name="Altura" id="Altura" placeholder="10,0cm" th:field="*{altura}">
        </div>

        <div>
            <label>Largura*:</label>
            <input type="text" name="Largura" id="Largura" placeholder="100,0cm" th:field="*{largura}">
        </div>

        <div>
            <label>Profundidade*:</label>
            <input type="text" name="Profundidade" id="Profundidade" placeholder="100,0cm" th:field="*{profundidade}">
        </div>

        <div>
            <label>Volume*:</label>
            <input type="text" name="Volume" id="Volume" placeholder="100,0cm" th:field="*{volume}">
        </div>

        <div>
            <label>Peso*:</label>
            <input type="text" name="Peso" id="Peso" placeholder="1,0 Kg" th:field="*{peso}">
        </div>

        <div>
            <label>Preço de compra*:</label>
            <input type="text" name="preçoCompra" id="preçoCompra" placeholder="50,0" th:field="*{precoDeCompra}">
        </div>
        <div>
            <label>Preço de venda*:</label>
            <input type="text" name="preçoVenda" id="preçoVenda" placeholder="50,0" th:field="*{precoDeVenda}">
        </div>

        <div>
            <label>Data*:</label>
            <input type="date" name="date" id="data" placeholder="01/02/03" th:field="*{dataDeCadastro}">
        </div>

        <div>
            <div align="center">
                <button class="botaoSubmit2" type="reset">Limpar</button>
                <button class="botaoSubmit2" type="submit" required>Cadastrar!</button>
            </div>
        </div>
    </form>
</body>
</html>